services:
  api:
    build:
      context: .
      target: dev
    ports:
      - "3000:3000"
    environment:
      PORT: 3000
      DATABASE_URL: postgresql://postgres:postgres@db:5432/app
      DB_HOST: db
      DB_PORT: 5432
      DB_USER: postgres
      DB_PASSWORD: postgres
      DB_NAME: app
      # En Docker sobre Windows/Mac a veces el file-watching necesita polling
      CHOKIDAR_USEPOLLING: "true"
    volumes:
      - .:/app
      - api_node_modules:/app/node_modules
    command: npm run start:dev
    depends_on:
      - db

  db:
    image: postgres:16-alpine
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: app
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

volumes:
  api_node_modules:
  db_data:
